<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Junyong"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Timer_pop"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".group_info" />
        <activity android:name=".group_find_popup2" />
        <activity android:name=".find_group_popup1" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".GymActivity" />
        <activity android:name=".TipActivity" />
        <activity android:name=".StaticActivity"></activity>
    </application>

</manifest>